
/*
* --------------------------------------------------
* general
* --------------------------------------------------
*/

/* Hide scrollbars in WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body > main {
  margin: 0;
}

body {
  background-color: var(--color-mine-shaft);
  color: var(--color-white);
}

button[type="submit"], button.close {
  cursor: pointer;
}



:root {
  --aside-width-desktop: 500px;
  --aside-width-mobile: 100vw;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 450px;
  --header-height: 64px;
  --color-mine-shaft: #2B2B2B;
  --color-gallery: #f0f0f0;
  --color-white: #ffffff;
  --color-grey: #807F7F;
  --color-light-grey: #D9D9D9;
  --color-filter-bg: #474646;
  --color-filter-bg-transparent: rgba(71, 70, 70, 0.8);
  --z-index-base: 1000;
  --z-index-menu: calc(var(--z-index-base) + 100);
  --z-index-menu-overlay: calc(var(--z-index-menu) - 10);
  --z-index-aside: calc(var(--z-index-base) + 500);
}

@media (min-width: 45em) { /* 720px or more */
  :root {
    --aside-width: var(--aside-width-desktop);
  }
}

@media (max-width: 44.99em) { /* Less than 720px */
  :root {
    --aside-width: var(--aside-width-mobile);
  }
}


/*
* --------------------------------------------------
* assets/fonts
* --------------------------------------------------
*/

@font-face {
  font-family: 'Creo Bold';
  src: url('../assets/fonts/Creo-ExtraBold.woff2') format('woff2'),
       url('../assets/fonts/Creo-ExtraBold.woff') format('woff');
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: 'Creo Light';
  src: url('../assets/fonts/Creo-Light.woff2') format('woff2'),
       url('../assets/fonts/Creo-Light.woff') format('woff');
  /* font-weight: 700; */
  font-style: normal;
}



.font-header {
  font-family: 'Public Sans', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.3em;
}


public-sans-normal, body {
  font-family: "Public Sans", sans-serif;
  /* font-family: "Creo Bold", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-sm {
  font-size: var(--fontSize-s);
  @media (min-width: 45em) {
    font-size: var(--fontSize-sm);
  }
}

.text-base {
  font-size: var(--fontSize-base);
}

.text-xl {
  font-size: var(--fontSize-xl);
}

.text-2xl {
  font-size: var(--fontSize-1xl);
  @media (min-width: 45em) {
    font-size: var(--fontSize-2xl);
  }
}

.text-3xl {
  font-size: var(--fontSize-3xl);
}

/*
* --------------------------------------------------
* positioning
* --------------------------------------------------
*/

/* .absolute { */
  /* position: absolute; */
  /* bottom: 10px; */
  /* left: 5px; */
  /* color: var(--color-white); */
/* } */



/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  position: fixed;
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  right: calc(-1 * var(--aside-width));
  top: 0;
  background: var(--color-mine-shaft);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  transition: transform 200ms ease-in-out;
  overflow-y: scroll;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside .header--logo {
  color: var(--color-white);
}

aside header .close {
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  font-size: 32px;
  font-weight: 300;
}


aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: var(--z-index-aside);
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}


/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

.menu-item.active::after {
  display: block;
  content: "";
  height: 450%;
  width: 1px;
  margin-left: 4px;
  background-color: var(--color-mine-shaft);;
}


.menu-item.active > .menu-item--circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: var(--color-mine-shaft);
}


.submenu--wrapper {
  z-index: var(--z-index-menu) !important;
}
.header {
  z-index: 1200 !important;
}


.header--wrapper.active .header {
  background-color: var(--color-gallery);
  color: var(--color-mine-shaft);
  align-items: flex-start;
}

.header--wrapper:not(.active) a {
  color: var(--color-white);
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: var(--header-height);
  top: 0;
  padding: 1.3rem 1.5rem;
  align-items: center;
  text-transform: uppercase;
  @media (min-width: 45em) {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

.header.active {
  background-color: var(--color-gallery);
}

.header.active  a{
  color: var(--color-mine-shaft);
}

.header--wrapper > .submenu--wrapper {
  display: grid;
  position: fixed;
  width: 100vw;
  top: var(--header-height);
  left: 0;
  grid-auto-flow: column;
  justify-content: start;
  grid-auto-columns: min-content;
  padding: 5rem 1.5rem;
  background-color: var(--color-gallery);
}

.submenu-list--title {
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  opacity: 0.7;
}

.header--wrapper > .submenu--wrapper > .submenu {
  display: grid;
  grid-template-columns: max-content max-content; 
  grid-template-rows: auto auto; 
  justify-content: start;
  gap: 1rem 3rem;
  color: var(--color-mine-shaft);
}

.submenu-item {
  margin-bottom: 5px;
}

.header--wrapper > .submenu--wrapper > .submenu > .submenu-list:nth-of-type(3) {
  grid-column: span 2;
  font-weight: 600;
}

.header--wrapper > .submenu--wrapper > .submenu a {
  color: var(--color-mine-shaft);
  padding-bottom: 3px;
}

.header--wrapper > .submenu--wrapper > .submenu a:hover {
  border-bottom: 1px solid var(--color-mine-shaft);
}

.header > nav > .menu-item > [class^="submenu-"] {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  gap: 1rem;
}

.header-menu-desktop > .menu-item > a > .header--circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin-right: 20px;
}

.header--logo {
  font-family: 'Creo Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 0;
  font-size: 1.3rem;
  @media (min-width: 48em) {
    font-size: 1.6rem;
    letter-spacing: 10px;
    margin-right: 50px;
  }
}

button.header-menu-mobile-toggle {
  font-size: 24px !important;
  text-align: left;
  /* Quick fix */
  margin-bottom: 5px;
  @media (min-width: 48em) {
    display: none;
  }
}

/* Fix otherwise the menu items show up twice outside of the aside aswell */
.header-menu-mobile {
  display: none;
}

aside .header-menu-mobile {
  grid-gap: 2rem 3rem;
  display: grid;
  grid-template-columns: max-content max-content; 
  grid-template-rows: auto auto; 
}

aside .header-menu-mobile > .submenu-list:nth-of-type(4) {
  grid-column: 2;
}

aside .header-menu-mobile a{
  color: white;
}

aside .header-menu-mobile > .menu-item .header-menu-link {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
/* to move the About at the bottom */
.header-menu-mobile > div:nth-child(2) {
  order: 99;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 5px;
  margin-left: auto;
  font-size: 15px;
  @media (min-width: 45em) {
    grid-gap: 1rem;
  }
}

.nav-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: var(--z-index-menu-overlay);
  background-color: #fffc;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-gallery);
  margin-top: auto;
  padding-top: 50px;
  font-size: 0.875rem;
  @media (min-width: 45em) {
    padding-top: 250px;
    font-size: 1rem;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  @media (min-width: 45em) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.footer-menu--wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  height: unset;
  align-items: start;
  @media (min-width: 45em) {
    flex-direction: row;
    align-items: end;
    height: 500px;
  }
}


.subitems-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: var(--color-mine-shaft);
  margin-right: 0px;
  @media (min-width: 45em) {
    flex-direction: row;
    gap: 1rem;
    margin-right: 50px;
  }
}

.footer-menu--wrapper > div {
  flex: 0;
}

.subitems-wrapper:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 35px;
  margin-bottom: 35px;
  @media (min-width: 45em) {
    flex: 1;
    gap: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.logo--wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  color: var(--color-mine-shaft);
  font-size: 0.875rem;
  @media (min-width: 45em) {
    font-size: 1rem;
    width: 65px;
  }
}

.logo--wrapper > p {
  font-size: 0.875rem;
  @media (min-width: 45em) {
    font-size: 1rem;
  }
}

.logo--wrapper > img{
  width: 65px;
  height: 65px;
  /* margin-left: 0px; */
  max-width: unset;
  @media (min-width: 45em) {
    /* margin-left: 50px; */
    width: 65px;
    height: 65px;
  }
}

.subitems-wrapper .trademark {
  margin-top: 50px;
}



/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line a {
  color: white;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}


.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: var(--color-mine-shaft);
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.3rem;
}

.cart-remove {
  cursor: pointer;
  opacity: 0.4;
}

.cart-summary a {
  color: white !important;
}

.cart-checkout-actions {
  border: 1px solid red;
  background-color: white;
  margin-top: 20px;
}

button[name="decrease-quantity"], 
button[name="increase-quantity"] {
  cursor: pointer;
}


/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/


/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0px;
  @media (min-width: 45em) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    /* margin: 25px; */
  }
}



.product-item img {
  height: auto;
  width: 100%;
}

.product-item img:hover {
  cursor: pointer;
  @media (min-width: 45em) {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }
}

.product-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (min-width: 45em) {
    position: relative;
  }
}

.products-grid > .product-item.description {
  display: flex;
  grid-column: span 2;
  @media (min-width: 45em) {
    display: none;
  }
}


.product-item-description {
  color: var(--color-white);
  padding: 15px 25px 35px 25px;
  @media (min-width: 45em) {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 5px;
    left: 0;
    padding: 15px 25px;
  }
}

.product-item-description > * {
  letter-spacing: 0.3em;
}


.product-item-description > p {
  font-weight: 800;
  font-size: 1.3rem;
  max-width: 250px;
  @media (min-width: 45em) {
    font-weight: 400;
    font-size: 1rem;
  }
}

.product-item-description > div {
  font-weight: 100;
  font-size: 0.9rem;
  margin-top: 15px;
  @media (min-width: 45em) {
    font-weight: 400;
    margin-top: 0px;
  }
}

.property-style {
  text-transform: uppercase;
  color: #807F7F;
  font-size:12px;
  letter-spacing:0.2rem;
  margin-bottom:7px;
}

/*
* --------------------------------------------------
* routes/collections.all.tsx
* --------------------------------------------------
*/

.collection--wrapper {
  padding-top: 100px;
}


/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide > a {
  position: relative;
}
.swiper-slide > a > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide > a .product-item-description {
  position: absolute;
  bottom: 10px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
  /* pointer-events: none; */
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-slide.product-recommendations {
  position: relative;
  width: 60%;
}

.swiper-slide.product-recommendations > div > p {
  font-size: 12px;
}

.product--wrapper {
  display: grid;
  background-color: #1C1C1C;
  margin-top: 0px;
  @media (min-width: 45em) {
    margin-top: 70px;
  }
}

.product--container {
  display: grid;
  margin-bottom: 75px;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding-top: 50px;
    margin-bottom: 150px;
  };
  @media (min-width: 78em) {
    padding-top: 70px;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 3rem;
  };
  @media (min-width: 90em) {
    grid-template-columns: 2fr 1fr;
  };
}
.product-form, .product-options-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-form {
  flex-direction: column;
  @media (min-width: 45em) {
    flex-direction: row;
    /* height: 100%; */
  }
}

.product-form button{
  width: 100%;
  @media (min-width: 45em) {
    flex-direction: row;
  }
}

.product-form > form {
  display: flex;
  flex-grow: 1;
}

.product-options-grid {
  margin-left: -6px;
}

.product-form, .product-options-grid a{
  color: var(--color-white);
  opacity: 1;
}

.product--description-info > p{
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}

.product--images {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0px;
  /* width: 100vw; */
  @media (min-width: 45em) {
    padding-left: 25px;
    align-items: end;
  }
  @media (min-width: 78em) {
    flex-direction: row;
    padding-left: 50px;
  };
}

.product--images-thumbnails {
  display: none;
  @media (min-width: 45em) {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    margin-top: 15px;
  }
  @media (min-width: 78em) {
    flex-direction: column;
    margin-top: unset;
    max-width: 100px;
    margin-right: 15px;
  }
  @media (min-width: 90em) {
    grid-template-columns: 2fr 1fr;
    max-width: 150px;
  };
}

/* .product--images-thumbnails > button {
  text-align: -webkit-center;
} */

.product-image {
  flex: 2;
  text-align: -webkit-right;
  @media (min-width: 78em) {
    flex: 3;
  };
}

.product--images-thumbnails > div{
  border: 1px solid white;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.product--description {
  display: flex;
  flex-direction: column;
  padding-right: 0px;
  padding: 25px;
  max-width: unset;
  @media (min-width: 45em) {
    padding-right: 50px;
    max-width: 400px;
  }
}

.product--description-material, .product-options-grid {
  margin-bottom: 35px;
}

.product--description-material > h3, .product-options > h5, .btn-size-guide > h5{
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: #807F7F;
  margin-bottom: 7px;
}

.product--description-material label {
  font-size: 14px;
  letter-spacing: 0.4rem;
  font-weight: 600;
  @media (min-width: 45em) {
    font-size: 16px;
  }
}

.product--description h1 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  @media (min-width: 45em) {
    font-size: 2.5rem;
  }
}

/* .product--description .product-form {
  margin-top: auto;
} */

.product-image img {
  height: auto;
  width: 100%;
  max-width: 700px;
}

.product--imageShowcase {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (min-width: 45em) {
    flex-direction: row;
  }
}

.product--imageShowcase > div {
  width: 100%;
  @media (min-width: 45em) {
    width: 50%;
  }
}

.btn-add-to-cart {
  cursor: pointer;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-mine-shaft);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  /* @media (min-width: 45em) {
    width: 370px;
  } */
}

.product--relatedProducts {
  overflow: hidden;
}
.product--relatedProducts-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  /* height: 60vh; */
}

.product--relatedProducts > h3 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  @media (min-width: 45em) {
    font-size: 1.7rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

.related-product {
  position: relative;
  cursor: pointer;
}

.related-product img {
  height: 100%;
  width: auto !important;
  object-fit: cover;
}

.btn-size-guide {
  cursor: pointer;
  text-align: left;
}




/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}


/*
* --------------------------------------------------
* elfsight instagram
* --------------------------------------------------
*/

#eapps-instagram-feed-1 {
  position: relative;
  padding: 25px;
  @media (min-width: 45em) {
    padding: 1rem 75px;
  }
} 


.eapps-instagram-feed-title {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300 !important;
  text-align: left !important;
  font-size: 14px !important;
  @media (min-width: 45em) {
    font-size: 24px !important;
  }
}

/*
* --------------------------------------------------
* CTA Landing
* --------------------------------------------------
*/

.cta-headers {
  position: absolute;
  bottom: 25px;
  left: 25px; 
  @media (min-width: 45em) {
    bottom: 80px;
    left: 60px; 
  }
}

.cta-headers > span {
  letter-spacing: 2.4px;
  color: var(--color-grey);
}

.cta-headers > p.cta {
  font-weight: bold;
  letter-spacing: 4.8px;
  color: var(--color-white);
  margin-top: 5px;
  @media (min-width: 45em) {
    margin-top: 10px;
  }
}


/*
* --------------------------------------------------
* SplitBox Component
* --------------------------------------------------
*/

.splitBox--grid {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: stretch;
  margin: 0px 0px;
  /* color: black; */
  @media (min-width: 45em) {
    flex-direction: row;
    margin: 0px 0px;
    background-color: var(--color-gallery);
  }
  @media (min-width: 61em) {
    margin: 150px 10em;
 }
 @media (min-width: 78em) {
  /* margin: 150px 250px; */
}
}

.splitBox--grid > div {
  width: 100%;
  display: flex; 
  align-items: stretch; 
  @media (min-width: 45em) {
    width: 50%;
  }
}

.splitBox--grid .splitBox--grid-right {
  padding: 100px 45px;
  height: 100%;
  flex: 1;
  @media (min-width: 45em) {
    padding: 45px;
  }
}




.splitBox--grid-right-content {
  /* display: none; */
  position: relative;
  @media (min-width: 45em) {
    display: block;
  }
}

.splitBox--grid-right-content > a{
  display: block;
  text-align: center;
  /* border-bottom: 1px solid black; */
}

.splitBox--grid-right-content > a span{
  border-bottom: 1px solid white;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3em;
  padding-bottom: 5px;
  @media (min-width: 45em) {
    border-bottom: 1px solid black;
    color: black;
  }
}



.splitBox--grid-right-content > img{
  width: 55%;
  max-width: 200px;
  /* float: right; */
  margin-top: 20px;
  @media (min-width: 70em) {
     margin-top: 30px;
  }
}

.splitBox--grid-right-content > .description{
  width: 100%;
  margin-bottom: 20px;
  @media (min-width: 70em) {
    /* width: 80%; */
    max-width: 300px;
  }
}

.splitBox--grid-right-content .tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splitBox--grid-right-content .tagline h3{
  font-family: 'Public Sans', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
  @media (min-width: 45em) {
    color: black;
  }
}

.splitBox--grid-right-content .tagline p{
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
  @media (min-width: 45em) {
    color: black;
  }
}

.splitBox--grid-right {
  /* display: none !important; */
  @media (min-width: 45em) {
    display: flex !important;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: center;
    height: 100%;
    flex: 1;
    aspect-ratio: 4/5;
  }
}

.splitBox--grid > div.splitBox--grid-left {
  display: none ;
  @media (min-width: 45em) {
    display: flex;
  }
}


/*
* --------------------------------------------------
* CollectionFilter
* --------------------------------------------------
*/


.collection-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  @media (min-width: 45em) {
    margin-bottom: 50px;
  }
}

.collection-filter--wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.collection-filter--wrapper > .collection-filter--header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  gap: 20px;
  width: 100vw;
  background-color: var(--color-filter-bg);
  padding: 20px 30px;
  @media (min-width: 45em) {
    width: max-content;
    justify-content: center;
    display: inline-flex;
    gap: 50px;
  }
}

.collection-filter--wrapper > .collection-filter--header > .selectionBox {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  gap: 5px;
  width: 100%;
  @media (min-width: 45em) {
    gap: 20px;
    width: max-content;
    display: inline-flex;
  }
}

/* .collection-filter--header-sort {
  justify-content: flex-start !important;
} */

.collection-filter--header  > h5 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 100;
}

.collection-filter--header  .selectionBox > div{
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.3em;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}
/* 
.collection-filter--header  > .selectionBox {
  display: none;
  @media (min-width: 45em) {
    display: inline;
  }
} */

.selectionBox-items span{
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.3em;
  /* font-weight: 600; */
}

.collection-filter--header .btn-clear {
 font-size: 0.8rem;
 font-weight: 100;
 margin-right: 0px;
 border-bottom: 1px solid white;
 @media (min-width: 45em) {
  margin-right: 20px;
}
}




.selectionBox-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.selectionBox-items > div{
  grid-column: span 2; 
  padding-left: 25px;
  padding-right: 25px;
  
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.3em;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 1rem;
}

.selectionBox-items > div > h5{
  /* display: inline; */
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}



.selectionBox.active .selectionBox-items {
  display: block;
}

.collection-filter--options {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: var(--color-filter-bg-transparent);
  backdrop-filter: blur(10px);
}



.selectionBox-items > button{
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selectionBox-items > button >svg{
  display: none;
}

.selectionBox-items > button.active >svg{
  display: block;
}

.selectionBox-items > button.active {
  background-color: rgb(30, 30, 30);
}

.selectionBox-items > button:hover {
  background-color: rgb(30, 30, 30);
  cursor: pointer;
}

div[role="button"] {
  cursor: pointer;
}


/*
* --------------------------------------------------
* Banner Scroll Landing
* --------------------------------------------------
*/

.banner-landing--wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: 45em) {
    flex-direction: row;
  }
}


.banner-landing--wrapper .swiper-pagination {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 20px;
}

.banner-landing--wrapper .swiper img {
  /* width: auto;
  height: 100vh;
  object-fit: cover;
  @media (min-width: 45em) {
    width: 100%;
    height: auto;
    object-position: center
  } */
}

.banner-landing--wrapper .banner-landing--image{
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  @media (min-width: 45em) {
    width: 50vw;
    min-width: 50vw;
    height: 100vh;
  }
}

.banner-landing--wrapper .banner-landing--image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-landing--products {
  height: 100%;
  width: 100%;
  @media (min-width: 45em) {
    height: 100vh;
    width: 50vw;
  }
}


.size-chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.size-chart-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.size-chart-row > span {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;  /* Optional: for visual separation */
  text-align: center;
}

.size-guide a {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.size-guide h3 {
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.3em;
  opacity: 0.7;
}

/*
* --------------------------------------------------
* Privacy Policy
* --------------------------------------------------
*/


.policy {
  padding: 25px;
}


/*
* --------------------------------------------------
* About
* --------------------------------------------------
*/

.about--content-info {
  height: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 100px 25px;
  @media (min-width: 45em) {
    height: 70vh;
    padding: unset;
  }
}

.about--content-info h3 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  opacity: 0.7;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.7rem;
  @media (min-width: 45em) {
    font-size: 1rem;
  }
}

.about--content-info p {
  font-size: 1.5em;
  text-align: center;
  max-width: 900px;
  @media (min-width: 45em) {
    font-size: 2rem;
  }
}

.about--content-blocks {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  @media (min-width: 45em) {
    flex-direction: row;
    padding-top: 150px;
  padding-bottom: 150px;
  }
}

.about--content-blocks > div {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 45em) {
    width: 50%;
    padding: 50px 150px;
  }
}

.about--content-block-left {
  flex-direction: column;
}

.about--content-block-left p {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.about--content-block-right {
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}

.about--content-block-right p {
  align-items: center;
  line-height: 2em;
  font-size: 0.9rem;
  @media (min-width: 45em) {
    font-size: 1rem;
  }
}

.about--content-block-right a {
  color: white;
}


/*
* --------------------------------------------------
* PageBanner
* --------------------------------------------------
*/

.page--banner {
  position: relative;
  width: 100vw;
  height: 70vh;
  @media (min-width: 45em) {
    height: 100vh;
  }
}

.page--banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page--banner > h3 {
  position: absolute;
  bottom: 35px;
  left: 25px;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bold;
  @media (min-width: 45em) {
    right: 25px;
    left: unset;
    font-size: 2rem;
    bottom: 50px;
  }
}


/*
* --------------------------------------------------
* Jewelry Care
* --------------------------------------------------
*/

.jewelry-care--container .splitBox--grid-right p {
  font-size: 1.2rem;
  max-width: 500px;
  text-align: center;
}